.logo {
  height: 65px;
  display: flex;
  position: relative;
  width: 50%;
}

.stream {
  display: flex;
  ul::-webkit-scrollbar {
    display: none;
  }
  ul {
    list-style: none;
    display: flex;
    overflow: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    li {
      cursor: pointer;
      white-space: nowrap;
      word-wrap: none;
      color: #d4d4d4;
      margin: 5px 10px 5px 10px;
      font-weight: 400;
      &:hover {
        color: #eee;
      }
    }
  }
}

.modal {
  align-items: center;
  justify-content: center;
  display: flex;
  position: fixed;
  height: 100vh;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.74);
  backdrop-filter: blur(30px);
  z-index: 9999;
}

.modal_innner {
  width: 90%;
  height: 90%;
  background-color: black;
  padding: 10px;
}

.modal_close {
  cursor: pointer;

  border-radius: 5px;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: #eee;
  color: black;
  font-weight: 800;
  &:hover {
    background-color: rgb(206, 206, 206);
  }
}
